

.like{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.like-count{
    color: #888;
}

.like:active{
    transform: scale(1.6);
    transition: transform 0.4s ease-in;
}

.like-icon{
  
    font-size: 1.8rem;
}